<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
    <header th:replace="layout/layout :: header"></header>
        <h2>[[#{persona.formulario}]]</h2>
        <a th:href="@{/inicio}">[[#{accion.regresar}]]</a>
    <br/>
        <!--/*@thymesVar id="persona" type="co.com.gm.domain.Persona"*/-->
    <form th:action="@{/guardar}" method="post" th:object="${persona}">
        <input type="hidden" name="id" th:field="*{id}"/>
        <br/>
        <label for="nombre">[[#{persona.nombre}]]:</label>
        <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        <br/>
        <label for="apellido">[[#{persona.apellido}]]:</label>
        <input type="text" name="apellido" id="apellido" th:field="*{apellido}">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error apellido</span>
        <br/>
        <label for="email">[[#{persona.email}]]:</label>
        <input type="email" name="email" id="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span>
        <br/>
        <label for="telefono">[[#{persona.telefono}]]:</label>
        <input type="tel" name="telefono" id="telefono" th:field="*{telefono}">
        <br/>
        <input type="submit" name="guardar" th:value="#{accion.guardar}"]]/>

    </form>
    <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>