<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de la persona</h1>
        <a th:href="@{/inicio}">Regresar</a>
    <br/>
        <!--/*@thymesVar id="persona" type="co.com.gm.domain.Persona"*/-->
    <form th:action="@{/guardar}" method="post" th:object="${persona}">
        <input type="hidden" name="id" th:field="*{id}"/>
        <br/>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
        <br/>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" th:field="*{apellido}">
        <br/>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" th:field="*{email}">
        <br/>
        <label for="telefono">Telefono:</label>
        <input type="tel" name="telefono" id="telefono" th:field="*{telefono}">
        <br/>
        <input type="submit" name="guardar" value="Guardar"/>

    </form>
    </body>
</html>